<section class="card">
  <a href="/api/posts/edit/{{id}}">
    <header>{{title}} [{{format_date date_created}}]</header>
    <body>
      {{!-- <p>
        {{content}}
      </p> --}}
    </body>
  </a>
</section>