<section class="card border-left-0 border-right-0 pt-3 pb-3">
  <h2>{{title}}</h2>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  <a href="/api/posts/{{id}}">
    Read Article
  </a>
</section>