<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog Title...</title>
    {{! <link rel="stylesheet" href="" /> }}
  </head>
  <body>
    <header>
      <h1>THIS IS A TECH BLOG...</h1>
    </header>
    <nav>
      <a href="">Homepage</a>
      <a href="">Dashboard</a>
      <a href="/login">Login</a>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>

</html>