<section class="container">
    {{#each posts as |post|}}
      {{> post-card}}
    {{/each}}
</section>

<div class="post-card">
  <h2 class="">Create a New Blog Post:</h2>
  <form class="post-form">
    <div class="">
      <label for="title-post">Title:</label>
      <input class="" type="text" id="title-post" />
    </div>
    <div class="">
      <label for="content-post">Content:</label>
      <input class="" type="text" id="content-post" />
    </div>
    <div class="">
      <button class="" type="submit">Create Post</button>
    </div>
  </form>
</div>

<script src="./js/post.js"></script>