<div class="edit-card">
  <h2 class="">Edit or Delete Blog Post</h2>
  <form class="post-edit-form">
    <div class="">
      <label for="title-post-edit">Title:</label>
      <input class="" type="text" id="title-post-edit" value="{{post.title}}" />
    </div>
    <div class="">
      <label for="content-post-edit">Content:</label>
      <input class="" type="text" id="content-post-edit" value="{{post.content}}" />
    </div>
    <div class="">
      <button class="" type="submit">EDIT</button>
    </div>
  </form>
</div>
<div class="post-delete">
  <button class="">DELETE</button>
</div>
<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>