<p>
  {{post.title}}
</p>
<p>
  Written by
  {{post.user.name}}
  on
  {{format_date post.date_created}}.
</p>
<p>
  {{post.content}}
</p>
<div class="">
  <h2>Comment</h2>
  <form class="comment-form">
    <div class="">
      <label for="comment-post"></label>
      <input class="" type="text" id="comment-post" />
    </div>
    <div class="">
      <button class="" type="submit">Submit</button>
    </div>
  </form>
</div>

{{#each comments}}
{{> comment-card}}
{{/each}}

<script src="/js/comment.js"></script>
{{! TODO: Should only be able to view this page when signed in. }}
{{! TODO: Add text box and option to comment. }}