<p>
  {{title}}
</p>
<p>
  Written by
  {{user.name}}
  on
  {{format_date date_created}}.
</p>
<p>
  {{content}}
</p>
<div class="">
  <h2>Comment</h2>
  <form class="comment-form">
    <div class="">
      <label for="comment-post"></label>
      <input class="" type="text" id="comment-post" />
    </div>
    <div class="">
      <button class="" type="submit">Submit</button>
    </div>
  </form>
</div>

{{! TODO: Should only be able to view this page when signed in. }}
{{! TODO: Add text box and option to comment. }}